/assets/gradle-wrapper/8.10.2/gradlew text eol=lf
/assets/gradle-wrapper/8.10.2/gradlew.bat text eol=lf
/assets/gradle-wrapper/8.10.2/manifest.json text eol=lf
/assets/gradle-wrapper/8.10.2/gradle-wrapper.jar binary
